# Byte-compiled files
*.pyc
__pycache__/

# Virtual environment
venv/
env/

# Database
*.sqlite3
**/.DS_Store

# Media and static files
/media/
staticfiles/

# IDE files
#.vscode/

# Django secret keys
*.env

# MacOS
.DS_Store

# Google OAuth credentials (NEVER commit these!)
client_secret_google_cloud_Alt.json
gdrive_tokens/
.env
